@import "tailwindcss";

html {
  color: #111928;
  font-size: 14px;
  font-weight: 400;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 4px solid #e5e7eb;
  border-top-color: #3b82f6;
  border-radius: 50%;
  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}